h1 {
  font-size: 1.8rem;
  margin-left: 30px;
}

hr {
  width: 90%;
  margin: 15px 0;
}

.global-container {
  display: flex;
  flex-direction: column;
}

.infos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  padding: 40px 30px 40px 30px;
  border: #000000 solid 2px;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#profile-icon {
  width: 90px;
  height: 90px;
}

.success {
  color: green;
  font-size: 1rem;
}

.error {
  color: red;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  gap: 14px;
}

.firstname-container,
.lastname-container,
.email-container {
  display: flex;
  align-items: flex-end;
}

.input-firstname,
.input-lastname,
.input-email {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.edit-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

form label {
  font-size: 1rem;
}

form input {
  width: 320px;
  height: 36px;
  font-size: 1rem;
  border: #000000 solid 2px;
  border-radius: 10px;
  background: #f9f4f4;
  padding-left: 10px;
}

h2 {
  margin-left: 30px;
  margin-top: 30px;
}

.meeter-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 15px;
}

.edit-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.edit-content {
  width: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.edit-header h3 {
  font-size: 1.6rem;
}

.edit-main input {
  width: 180px;
  height: 28px;
  font-size: 1rem;
  border: #000000 solid 2px;
  border-radius: 10px;
  background: #f9f4f4;
  padding-left: 10px;
}

.edit-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.buttonRo {
  background-color: #ff4646;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px;
} 

.edit-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.containerPassword {
    position: relative; 
    display: inline-block;
    width: 100%;
}

.containerPassword input {
    padding-right: 40px;
}

.togglePassword {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    width: 20px; 
    cursor: pointer;
}

.validatorCriters {
    padding: 10px 3px;
    margin: auto;
    display: none;
  }
  
.validatorCriters span {
    display: block;
    color: #cacaca;
    font-size: 13px;
    margin: 5px 0;
  }
  
.validatorCriters span.error {
    color: #a70b0b;
  }
  
.validatorCriters span.succes {
    color: green;
  }