.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Assets/img/fondRando.jfif") center/cover;
    opacity: 0.35;
    z-index: -1;
}

.containerLogin {
    background-color: white;
    border: black solid 0.5px;
    border-radius: 7px;
    padding: 15px;
    margin: 50px auto;
    width: 22%;
}

#texte {
    font-size: 12px;
}

.textbox {
    border: 1px solid;
    border-radius: 5px;
    background-color: #F9F4F4;
    padding: 5px;
    width: 95% ;
}

.containerPassword {
    position: relative; 
    display: inline-block;
    width: 100%;
}

.togglePassword {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    width: 20px; 
    cursor: pointer;
}

.validatorCriters {
    padding: 10px 3px;
    margin: auto;
    display: hidden;
  }
  
.validatorCriters span {
    display: block;
    color: #cacaca;
    font-size: 13px;
    margin: 5px 0;
  }
  
.validatorCriters span.error {
    color: #a70b0b;
  }
  
.validatorCriters span.succes {
    color: green;
  }

#boutonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1040px) {
    .containerLogin {
        width: 35%;
    }
}

@media screen and (max-width: 830px) {
    .containerLogin {
        width: 45%;
    }
}

@media screen and (max-width: 567px) {
    .containerLogin {
        width: 60%;
    }
    
    #pasCompte, #sinscrire {
        display: inline-block;
        margin: 1px;
        text-decoration: none;
    }
    #boutonContainer {
        margin-top: 10px;
    }
}

